In [6]:
employees = [
    ("jack shephard", "Sales", 100000, 1978,True),
    ("kate austen", "IT", 200000, 1985,False),
    ("ben linus", "Finance", 150000, 1967,True),
    ("james sawyer", "HR", 70000, 1979,True),
    ("kim kwon", "Sales", 120000, 1986,True),
    ("sun kwon", "IT", 200000, 1984,False),
    ("hugo reyes", "IT", 120000, 1992,True)
]

In [8]:
max_salary = 0
high_emp = []
for fullname,dept, salary, birth_year, fulltime in employees:
    if not fulltime and salary >= max_salary:
        if salary == max_salary:
            high_emp.append((fullname,dept, salary, birth_year, fulltime))
        else:
            high_emp = [(fullname,dept, salary, birth_year, fulltime)]
        max_salary = salary
print(high_emp)

[('kate austen', 'IT', 200000, 1985, False), ('sun kwon', 'IT', 200000, 1984, False)]

In [10]:
max_salary = 0
high_emp = []
for emp in employees:
    salary = emp[2]
    fulltime = emp[4] 
    if not fulltime and salary >= max_salary:
        if salary == max_salary:
            high_emp.append(emp)
        else:
            high_emp = [emp]
        max_salary = salary
print(high_emp)

[('kate austen', 'IT', 200000, 1985, False), ('sun kwon', 'IT', 200000, 1984, False)]

In [26]:
# pure function
def is_even(number):
    print(f"is_even({number}) is working...")
    return number%2 == 0

In [13]:
e = 10
def add(x,y):
    e = e + 1
    return x + y + e

In [14]:
add(3,5)

18

In [15]:
e = e + 2

In [16]:
add(3,5)

20

In [17]:
sum([1,2,3,4,5])

15

In [18]:
max([1,2,3,4,5])

5

In [19]:
min([1,2,3,4,5])

1

In [21]:
numbers = [4,8,15,16,23,42]

In [34]:
# external loop: list
total = 0
for num in numbers:
    if is_even(num):
        total += num**2
print(total)

is_even(4) is working...
is_even(8) is working...
is_even(15) is working...
is_even(16) is working...
is_even(23) is working...
is_even(42) is working...
2100

In [35]:
# external loop: list
sum([num**2 for num in numbers if is_even(num)])

is_even(4) is working...
is_even(8) is working...
is_even(15) is working...
is_even(16) is working...
is_even(23) is working...
is_even(42) is working...

2100

In [31]:
# pure function
def squared(n):
    return n**2

In [33]:
# internal loop: filter, map
# functional programming: filter/map/reduce framework -> hadoop
list( map( squared , filter(is_even , numbers) ) )

is_even(4) is working...
is_even(8) is working...
is_even(15) is working...
is_even(16) is working...
is_even(23) is working...
is_even(42) is working...

[16, 64, 256, 1764]

In [39]:
# lambda expression -> anonymous function
list( map( lambda u : u**2 , filter(lambda v : v%2 == 0  , numbers) ) )

[16, 64, 256, 1764]

In [5]:
from functools import reduce

In [42]:
"""
      0,  16 -> 16
     16,  64 -> 80
     80, 256 -> 336
    336,1764 -> 2100
    reduce -> 2100
"""
reduce( lambda accumulator,n : accumulator + n , map( lambda u : u**2 , filter(lambda v : v%2 == 0  , numbers) ) , 0)

2100

In [44]:
sum(map( lambda u : u**2 , filter(lambda v : v%2 == 0  , numbers) ))

2100

In [45]:
reduce( lambda accumulator,n : accumulator * n , map( lambda u : u**2 , filter(lambda v : v%2 == 0  , numbers) ) , 1)

462422016

In [ ]:
2 ** 1000000000000

In [2]:
employees = [
    ("jack shephard", "Sales", 100000, 1978,True),
    ("kate austen", "IT", 200000, 1985,False),
    ("ben linus", "Finance", 150000, 1967,True),
    ("james sawyer", "HR", 70000, 1979,True),
    ("kim kwon", "Sales", 120000, 1986,True),
    ("sun kwon", "IT", 200000, 1984,False),
    ("hugo reyes", "IT", 120000, 1992,True)
]

In [8]:
reduce( lambda acc,sal : acc + sal , map( lambda emp : emp[2]  , employees ) , 0)

960000

In [12]:
def add(x,y):
    return x+y
def employe_to_salary(emp):
    return emp[2]
reduce( add , map( employe_to_salary  , employees ) , 0)

960000

In [14]:
add = lambda acc,sal : acc + sal
employe_to_salary = lambda emp : emp[2]
reduce( add , map( employe_to_salary  , employees ) , 0)

960000

In [16]:
type(add)

function

In [24]:
# find max of numbers
numbers = [4,8,15,42,16,23]
def fun(acc,n):
    print(f"acc:{acc}\tn:{n}")
    if acc > n:
        return acc
    else:
        return n
reduce( fun  , numbers , 0)

acc:0	n:4
acc:4	n:8
acc:8	n:15
acc:15	n:42
acc:42	n:16
acc:42	n:23

42

In [23]:
max(numbers)

42

In [31]:
employees = [
    ("jack shephard", "Sales", 100000, 1978,True),
    ("kate austen", "IT", 200000, 1985,True),
    ("ben linus", "Finance", 150000, 1967,True),
    ("james sawyer", "HR", 70000, 1979,True),
    ("kim kwon", "Sales", 120000, 1986,True),
    ("sun kwon", "IT", 200000, 1984,False),
    ("hugo reyes", "IT", 120000, 1992,True)
]
def group_by_dept(acc, t):
    print(acc,t)
    dept, sal = t
    if dept not in acc:
        acc[dept] = 0
    acc[dept] += sal
    return acc
reduce( group_by_dept , map( lambda emp : (emp[1],emp[2]) , filter(lambda emp: emp[4] , employees)) , {} )

{} ('Sales', 100000)
{'Sales': 100000} ('IT', 200000)
{'Sales': 100000, 'IT': 200000} ('Finance', 150000)
{'Sales': 100000, 'IT': 200000, 'Finance': 150000} ('HR', 70000)
{'Sales': 100000, 'IT': 200000, 'Finance': 150000, 'HR': 70000} ('Sales', 120000)
{'Sales': 220000, 'IT': 200000, 'Finance': 150000, 'HR': 70000} ('IT', 120000)

{'Sales': 220000, 'IT': 320000, 'Finance': 150000, 'HR': 70000}

In [ ]:
# { "fulltime": 5, "parttime": 2}