In [3]:
employees = [
    ("jack shephard", "Sales", 100000, 1978,True),
    ("kate austen", "IT", 200000, 1985,False),
    ("ben linus", "Finance", 150000, 1967,True),
    ("james sawyer", "HR", 70000, 1979,True),
    ("kim kwon", "Sales", 120000, 1986,True),
    ("sun kwon", "IT", 170000, 1984,False),
    ("hugo reyes", "IT", 120000, 1992,True)
]

In [4]:
def is_even(number):
    """
      Decides whether number is even or not
      Returns True if it is even; False otherwise 
    """
    return number%2 == 0

In [5]:
is_even(42)

True

In [6]:
is_even(549)

False

In [7]:
def is_odd(number):
    """
      Decides whether number is odd or not
      Returns True if it is odd; False otherwise 
    """
    return not is_even(number)

In [8]:
is_odd(42)

False

In [12]:
is_odd(549)

True

In [15]:
def get_salary_stat(emps):
    """
    Calculates department salary statitics wrt job type ("fulltime", "parttime")
    """
    total_salaries = {}
    for fullname, dept, sal, byear, fulltime in emps:
        if dept not in total_salaries:
            total_salaries[dept] = {"fulltime": 0, "parttime": 0}
        job_type = "fulltime" if fulltime else "parttime"
        total_salaries[dept][job_type] += sal 
    return total_salaries

In [16]:
def print_salary_stat(salary_stat):
    """
    Prints formatted salary statistics on screen
    """
    for dept, salaries in salary_stat.items():
        for job_type, salary in salaries.items():
            print(f"{dept}\t({job_type}): {salary}")
        print("")   
    # return None

In [17]:
total = get_salary_stat(employees)
print_salary_stat(total)

Sales	(fulltime): 220000
Sales	(parttime): 0

IT	(fulltime): 120000
IT	(parttime): 370000

Finance	(fulltime): 150000
Finance	(parttime): 0

HR	(fulltime): 70000
HR	(parttime): 0

In [22]:
print_salary_stat(get_salary_stat(employees))

Sales	(fulltime): 220000
Sales	(parttime): 0

IT	(fulltime): 120000
IT	(parttime): 370000

Finance	(fulltime): 150000
Finance	(parttime): 0

HR	(fulltime): 70000
HR	(parttime): 0

In [24]:
def get_next(number):
    if is_even(number):
        number = number // 2
    else:
        number = 3 * number + 1 
    return number

In [25]:
def get_sequence_length(number=7):
# 7 -> 22 -> 11 -> 34 -> 17 -> 52 -> 26 -> 13 -> 40 -> 20 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> (1)
    length = 0
    while number>1:
        number = get_next(number)
        length += 1
    return length

In [29]:
sequence_length = get_sequence_length(549) # get_sequence_length(7)
print(sequence_length)

92

In [61]:
max_sequence_cache = {}
def get_max_sequence(start=10, stop=1000):
    global max_sequence_cache
    if stop in max_sequence_cache:
        return max_sequence_cache[stop]
    max_length = 0
    max_number = start
    for i in range(start,stop):
        sequence_length = get_sequence_length(i)
        if sequence_length > max_length:
            max_length = sequence_length
            max_number = i
    max_sequence_cache[stop] = (max_number, max_length)        
    return (max_number, max_length)

In [62]:
max_result = get_max_sequence(10,100000)

In [64]:
max_result = get_max_sequence(10,10000)

In [67]:
max_sequence_cache

{100000: (77031, 350), 10000: (6171, 261), 50000: (35655, 323)}

In [36]:
print(get_max_sequence())

(871, 178)

In [66]:
print(get_max_sequence(stop=50000, start=1000))

(35655, 323)

In [68]:
print(get_max_sequence(start=1000,stop=50000))

(35655, 323)

In [ ]:
print(get_max_sequence(1000,50000))

In [40]:
print(get_max_sequence(start=100)) # print(get_max_sequence(start=100,stop=1000))

(871, 178)

In [43]:
print(get_max_sequence(100)) # print(get_max_sequence(start=100))

(871, 178)

In [45]:
def fun(x,y):
    z = x+y
    print(f"z: {z}")
    return z

In [46]:
fun(3,5)

z: 8

8

In [48]:
z

NameError: name 'z' is not defined

In [49]:
data = 108

In [56]:
def gun(): # side effect
    global data
    data = 42
    print(f"data: {data}")

In [52]:
data

108

In [53]:
gun()

data: 42

In [57]:
data

108

In [58]:
gun()

data: 42

In [59]:
data

42

In [70]:
sum([1,2,3,4,5,6,7])

28

In [71]:
sum = 0
for i in range(10000):
    sum += i

In [72]:
sum

49995000

In [74]:
sum([1,2,3,4,5,6,7])

TypeError: 'int' object is not callable

In [77]:
def sun(x):
    x += 1
    return x ** 3

In [76]:
y = 10

In [78]:
sun(y)

1331

In [80]:
y

10

In [89]:
numbers = [4,8,15,16,23,42]

In [90]:
def myfun(x):
    x = [1,2,3,4,5,6]
    return len(x)

In [91]:
numbers

[4, 8, 15, 16, 23, 42]

In [92]:
myfun(numbers)

6

In [93]:
numbers

[4, 8, 15, 16, 23, 42]