In [3]:
employees = [
    ("jack shephard", "Sales", 100000, 1978,True),
    ("kate austen", "IT", 200000, 1985,False),
    ("ben linus", "Finance", 150000, 1967,True),
    ("james sawyer", "HR", 70000, 1979,True),
    ("kim kwon", "Sales", 120000, 1986,True),
    ("sun kwon", "IT", 170000, 1984,False),
    ("hugo reyes", "IT", 120000, 1992,True)
]

In [4]:
def is_even(number):
    """
      Decides whether number is even or not
      Returns True if it is even; False otherwise 
    """
    return number%2 == 0

In [5]:
is_even(42)

True

In [6]:
is_even(549)

False

In [7]:
def is_odd(number):
    """
      Decides whether number is odd or not
      Returns True if it is odd; False otherwise 
    """
    return not is_even(number)

In [8]:
is_odd(42)

False

In [12]:
is_odd(549)

True

In [15]:
def get_salary_stat(emps):
    """
    Calculates department salary statitics wrt job type ("fulltime", "parttime")
    """
    total_salaries = {}
    for fullname, dept, sal, byear, fulltime in emps:
        if dept not in total_salaries:
            total_salaries[dept] = {"fulltime": 0, "parttime": 0}
        job_type = "fulltime" if fulltime else "parttime"
        total_salaries[dept][job_type] += sal 
    return total_salaries

In [16]:
def print_salary_stat(salary_stat):
    """
    Prints formatted salary statistics on screen
    """
    for dept, salaries in salary_stat.items():
        for job_type, salary in salaries.items():
            print(f"{dept}\t({job_type}): {salary}")
        print("")   
    # return None

In [17]:
total = get_salary_stat(employees)
print_salary_stat(total)

Sales	(fulltime): 220000
Sales	(parttime): 0

IT	(fulltime): 120000
IT	(parttime): 370000

Finance	(fulltime): 150000
Finance	(parttime): 0

HR	(fulltime): 70000
HR	(parttime): 0

In [22]:
print_salary_stat(get_salary_stat(employees))

Sales	(fulltime): 220000
Sales	(parttime): 0

IT	(fulltime): 120000
IT	(parttime): 370000

Finance	(fulltime): 150000
Finance	(parttime): 0

HR	(fulltime): 70000
HR	(parttime): 0

In [24]:
def get_next(number):
    if is_even(number):
        number = number // 2
    else:
        number = 3 * number + 1 
    return number

In [25]:
def get_sequence_length(number=7):
# 7 -> 22 -> 11 -> 34 -> 17 -> 52 -> 26 -> 13 -> 40 -> 20 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> (1)
    length = 0
    while number>1:
        number = get_next(number)
        length += 1
    return length

In [29]:
sequence_length = get_sequence_length(549) # get_sequence_length(7)
print(sequence_length)

92

In [31]:
def get_max_sequence(start, stop):
    max_length = 0
    max_number = start
    for i in range(start,stop):
        sequence_length = get_sequence_length(i)
        if sequence_length > max_length:
            max_length = sequence_length
            max_number = i
    return (max_number, max_length)

In [32]:
max_result = get_max_sequence(10,100000)

In [33]:
max_result

(77031, 350)