In [1]:
employees = [
    ("jack shephard", "Sales", 100000, 1978,True),
    ("kate austen", "IT", 200000, 1985,False),
    ("ben linus", "Finance", 150000, 1967,True),
    ("james sawyer", "HR", 70000, 1979,True),
    ("kim kwon", "Sales", 120000, 1986,True),
    ("sun kwon", "IT", 200000, 1984,False),
    ("hugo reyes", "IT", 120000, 1992,True)
]
# mode="w" -> write, "r" -> read, "r+" -> read/write, "w+" -> reading/writing
try:
    with open("employees.txt", mode="w") as myfile:
        for fname,dept,sal,byear,fulltime in employees:
            myfile.write(f"{fname},{sal},{dept},{fulltime},{byear}\n") 
except PermissionError:
    print("Cannot open/write: chmod +w")
except Exception as err:
    print("An error has occurred: "+str(err))

In [9]:
employees = []
with open("employees.txt", mode="r") as myfile:
    for line in myfile:
        # print(line,end="") 
        # print(line.strip())
        emp = line.strip().split(",")
        fullname = emp[0]
        salary = float(emp[1])
        department = emp[2]
        birth_year = int(emp[4])
        fulltime = bool(emp[3])
        employees.append((fullname,department,salary,birth_year,fulltime))
for emp in employees:
    print(emp)

('jack shephard', 'Sales', 100000.0, 1978, True)
('kate austen', 'IT', 200000.0, 1985, True)
('ben linus', 'Finance', 150000.0, 1967, True)
('james sawyer', 'HR', 70000.0, 1979, True)
('kim kwon', 'Sales', 120000.0, 1986, True)
('sun kwon', 'IT', 200000.0, 1984, True)
('hugo reyes', 'IT', 120000.0, 1992, True)

In [12]:
employees = []
myfile = open("employees.txt", mode="r")
for line in myfile.readlines():
    emp = line.strip().split(",")
    fullname = emp[0]
    salary = float(emp[1])
    department = emp[2]
    birth_year = int(emp[4])
    fulltime = bool(emp[3])
    employees.append((fullname,department,salary,birth_year,fulltime))
myfile.close()    
for emp in employees:
    print(emp)

('jack shephard', 'Sales', 100000.0, 1978, True)
('kate austen', 'IT', 200000.0, 1985, True)
('ben linus', 'Finance', 150000.0, 1967, True)
('james sawyer', 'HR', 70000.0, 1979, True)
('kim kwon', 'Sales', 120000.0, 1986, True)
('sun kwon', 'IT', 200000.0, 1984, True)
('hugo reyes', 'IT', 120000.0, 1992, True)

In [14]:
import os

In [17]:
os.rename("employees.dat", "employees.csv")

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'employees.dat' -> 'employees.csv'

In [18]:
import json

In [19]:
data = {
    "employees": [
        { "fullname": "jack shephard", "department": "Sales", "salary": 100000, "year": 1978, "fulltime": True},
        { "fullname": "kate austen" , "department": "IT", "salary":200000,  "year":1985,"fulltime":False},
        { "fullname": "ben linus", "department": "Finance","salary": 150000,  "year":1967,"fulltime":True},
        { "fullname": "james sawyer", "department": "HR","salary": 70000,  "year":1979,"fulltime":True},
        { "fullname": "kim kwon", "department": "Sales","salary": 120000,  "year":1986,"fulltime":True},
        { "fullname": "sun kwon", "department": "IT", "salary":200000,  "year":1984,"fulltime":False},
        { "fullname": "hugo reyes", "department": "IT","salary": 120000,  "year":1992,"fulltime":True}        
    ]
}

In [27]:
with open("employees.json", "w") as jsonfile:
    json.dump(data, jsonfile,indent=4)

In [24]:
with open("employees.json", "r") as jsonfile:
    read_data = json.load(jsonfile)

In [25]:
for emp in read_data["employees"]:
    print(emp)

{'fullname': 'jack shephard', 'department': 'Sales', 'salary': 100000, 'year': 1978, 'fulltime': True}
{'fullname': 'kate austen', 'department': 'IT', 'salary': 200000, 'year': 1985, 'fulltime': False}
{'fullname': 'ben linus', 'department': 'Finance', 'salary': 150000, 'year': 1967, 'fulltime': True}
{'fullname': 'james sawyer', 'department': 'HR', 'salary': 70000, 'year': 1979, 'fulltime': True}
{'fullname': 'kim kwon', 'department': 'Sales', 'salary': 120000, 'year': 1986, 'fulltime': True}
{'fullname': 'sun kwon', 'department': 'IT', 'salary': 200000, 'year': 1984, 'fulltime': False}
{'fullname': 'hugo reyes', 'department': 'IT', 'salary': 120000, 'year': 1992, 'fulltime': True}

In [26]:
print(json.dumps(read_data,indent=4))

{
    "employees": [
        {
            "fullname": "jack shephard",
            "department": "Sales",
            "salary": 100000,
            "year": 1978,
            "fulltime": true
        },
        {
            "fullname": "kate austen",
            "department": "IT",
            "salary": 200000,
            "year": 1985,
            "fulltime": false
        },
        {
            "fullname": "ben linus",
            "department": "Finance",
            "salary": 150000,
            "year": 1967,
            "fulltime": true
        },
        {
            "fullname": "james sawyer",
            "department": "HR",
            "salary": 70000,
            "year": 1979,
            "fulltime": true
        },
        {
            "fullname": "kim kwon",
            "department": "Sales",
            "salary": 120000,
            "year": 1986,
            "fulltime": true
        },
        {
            "fullname": "sun kwon",
            "department": "IT",
            "salary": 200000,
            "year": 1984,
            "fulltime": false
        },
        {
            "fullname": "hugo reyes",
            "department": "IT",
            "salary": 120000,
            "year": 1992,
            "fulltime": true
        }
    ]
}

In [30]:

number = int(input("Enter an integer: "))

Enter an integer: forty two

ValueError: invalid literal for int() with base 10: 'forty two'

In [41]:
while True:
    try:
        number1 = int(input("Enter an integer: "))
        number2 = int(input("Enter an integer: "))
        result = number1 / number2
    except ValueError:
        print("You must provide an integer")
    except ZeroDivisionError:
        print("select number2 as non zero integer")
    else:    
        print(f"{number1} / {number2} = {result:.2f}")        
        break

Enter an integer: 123454
Enter an integer: 343543
123454 / 343543 = 0.36

In [1]:
while True:
    try:
        number1 = int(input("Enter an integer: "))
        number2 = int(input("Enter an integer: "))
        result = number1 / number2
    except (ValueError, ZeroDivisionError) as err:
        print(f"Try again: {err}\n")
    else:    
        print(f"{number1} / {number2} = {result:.2f}")        
        break

Enter an integer: abc
Try again invalid literal for int() with base 10: 'abc'

Enter an integer: 10
Enter an integer: 0
Try again division by zero

Enter an integer: 1
Enter an integer: 2
1 / 2 = 0.50

In [4]:
try:
    file = open("employees.json", mode="r")
    print('try block is running....')
    x = 1 / 0
except ZeroDivisionError: 
    print('ZeroDivisionError has occurred...')
else:
    print('else is executing...') 
finally:
    file.close()

try block is running....
ZeroDivisionError has occurred...

In [6]:
def fun():
    try:
        return 42
    except:
        return 100
    finally:
        return 108

In [7]:
fun()

108

In [8]:
while True:
    try:
        number1 = int(input("Enter an integer between 1-100: "))
        number2 = int(input("Enter an integer between 1-100: "))
        if not (0 < number1 < 101):
            raise ValueError(f"{number1} is not between 1 and 100.")
        if not (0 < number2 < 101):
            raise ValueError(f"{number2} is not between 1 and 100.")
        result = number1 / number2
    except (ValueError, ZeroDivisionError) as err:
        print(f"Try again: {err}\n")
    else:    
        print(f"{number1} / {number2} = {result:.2f}")        
        break

Enter an integer between 1-100: 150
Enter an integer between 1-100: 250
Try again: 150 is not between 1 and 100.

Enter an integer between 1-100: 30
Enter an integer between 1-100: 40
30 / 40 = 0.75