In [1]:
# string -> char array -> immutable

In [2]:
name = "Jack Bauer"

In [3]:
name = 'Kate Austen'

In [4]:
name = """This is the first line of the string.
This is the second line of the string.
This is the third line of the string.
"""

In [5]:
name

'This is the first line of the string.\nThis is the second line of the string.\nThis is the third line of the string.\n'

In [6]:
name.count("\n")

3

In [7]:
name = "Jack Bauer"

In [8]:
name[5]

'B'

In [9]:
name[5] = 'b'

TypeError: 'str' object does not support item assignment

In [10]:
name.replace(" ",",")

'Jack,Bauer'

In [11]:
name

'Jack Bauer'

In [12]:
x = 3615.47

In [13]:
s = str(x)

In [14]:
s

'3615.47'

In [15]:
print(s)

3615.47

In [16]:
type(s)

str

In [17]:
list(s)

['3', '6', '1', '5', '.', '4', '7']

In [18]:
name

'Jack Bauer'

In [19]:
name[:3]

'Jac'

In [20]:
name[::-1]

'reuaB kcaJ'

In [21]:
type(name)

str

In [22]:
name[0]

'J'

In [23]:
name[1]

'a'

In [24]:
name[:4]

'Jack'

In [25]:
list(name)

['J', 'a', 'c', 'k', ' ', 'B', 'a', 'u', 'e', 'r']

In [26]:
name = "Kate\t\t\tAusten"

In [27]:
name

'Kate\t\t\tAusten'

In [28]:
print(name)

Kate			Austen

In [32]:
name = "\"Kate\\Austen\""

In [33]:
name

'"Kate\\Austen"'

In [34]:
print(name)

"Kate\Austen"

In [35]:
s = "\"\"\"\"\""

In [36]:
print(s)

"""""

In [38]:
s = '"""""'

In [43]:
s = r"\\\\\\"

In [44]:
print(s)

\\\\\\

In [45]:
first_name = "Kate"
last_name = "Austen"
fullname = last_name + ", " + first_name

In [46]:
fullname

'Austen, Kate'

In [51]:
template = '{0:s}, {1:s} : {1:s}.{0:s}@{2:s}'

In [52]:
fullname = template.format(last_name, first_name, 'example.com')

In [53]:
fullname

'Austen, Kate : Kate.Austen@example.com'

In [56]:
s = "₺"

In [58]:
s[0]

'₺'

In [59]:
"Orange" == "orange"

False

In [60]:
"Orange" != "orange"

True

In [61]:
"Orange" < "orange"

True

In [62]:
words= "to be or not to be that is the question"

In [63]:
words.count("to")

2

In [64]:
words.count("to", 12)

1

In [65]:
words.count("to", 15,25)

0

In [67]:
words.count("that", 15,25)

1

In [68]:
words.index("be")

3

In [70]:
words.index("root")

ValueError: substring not found

In [72]:
words.rindex("root")

ValueError: substring not found

In [ ]:
# search sub-string: index, rindex -> index, ValueError
#                    find, rfind   -> index, -1

In [76]:
words.find("root")

-1

In [77]:
"root" in words

False

In [78]:
"that" in words

True

In [79]:
"That" in words

False

In [80]:
words.startswith("to")

True

In [81]:
words.startswith("that")

False

In [83]:
words.endswith("question")

True

In [84]:
words.endswith("to")

False

In [85]:
words.replace("to","2")

'2 be or not 2 be that is the question'

In [86]:
words

'to be or not to be that is the question'

In [87]:
input_string= "\t\t      \n This is a sample.          \t\t\t\t \n\n" # white space: \t space \n

In [88]:
input_string.strip()

'This is a sample.'

In [89]:
input_string.lstrip()

'This is a sample.          \t\t\t\t \n\n'

In [90]:
input_string.rstrip()

'\t\t      \n This is a sample.'

In [91]:
name = 'jack bauer'

In [92]:
name.capitalize()

'Jack bauer'

In [93]:
name.title()

'Jack Bauer'

In [102]:
line="11111111110,    jack bauer  ,   tr1   ,     100000 ,     1956"

In [103]:
identity,fullname,iban,salary,birth_year = line.split(',')

In [104]:
identity

'11111111110'

In [105]:
fullname

'    jack bauer  '

In [106]:
salary

'     100000 '

In [118]:
line.split(',')

['11111111110', '    jack bauer  ', '   tr1   ', '     100000 ', '     1956']

In [121]:
values = []
for col in line.split(','):
    values.append(col.strip())

In [122]:
values

['11111111110', 'jack bauer', 'tr1', '100000', '1956']

In [124]:
list(map( lambda s : s.strip() , line.split(',')))

['11111111110', 'jack bauer', 'tr1', '100000', '1956']

In [127]:
list(map( str.strip , line.split(',')))

['11111111110', 'jack bauer', 'tr1', '100000', '1956']

In [132]:
numbers = ['4','8','15','16','23','42']

In [129]:
s = str(numbers)

In [134]:
','.join(numbers)

'4,8,15,16,23,42'

In [135]:
numbers = [4,8,15,16,23,42]

In [136]:
",".join([str(num) for num in numbers])

'4,8,15,16,23,42'

In [139]:
",".join(map(str, numbers))

'4,8,15,16,23,42'

In [143]:
print("".join(map(str, numbers)))

4815162342

In [147]:
lines="""Line 1
Line 2
Line 3
Line 4
Line 5"""

In [148]:
len(lines)

34

In [152]:
lines.split("\n")

['Line 1', 'Line 2', 'Line 3', 'Line 4', 'Line 5']

In [153]:
"108".isdigit()

True

In [154]:
"-108".isdigit()

False

In [155]:
"lOsT108".isalnum()

True

In [156]:
"lost 108".isalnum()

False

In [157]:
"108".isdecimal()

True

In [158]:
"78CC3D".isdecimal()

False

In [159]:
"JACKBAUER".isupper()

True

In [160]:
"JackBauer".isupper()

False

In [161]:
"Jack Bauer".istitle()

True

In [162]:
"Jack bauer".istitle()

False

In [163]:
"\t      \n\t".isspace()

True

In [151]:
lines.splitlines()

['Line 1', 'Line 2', 'Line 3', 'Line 4', 'Line 5']

In [ ]:
",".join(map(lambda u : str(u) , numbers))

In [97]:
type(employee)

list

In [109]:
numbers = (4,8,15,16,23,42)

In [111]:
numbers_plus_10 = []
for num in numbers:
    numbers_plus_10.append(num+10)

In [113]:
numbers_plus_10

[14, 18, 25, 26, 33, 52]

In [116]:
def plus10(n):
    return n+10

In [114]:
list(map(lambda n : n + 10 , numbers))

[14, 18, 25, 26, 33, 52]

In [117]:
list(map(plus10 , numbers))

[14, 18, 25, 26, 33, 52]