In [17]:
jack = ("jack bauer", "11111111110", "tr1", 10000, 1956)

In [18]:
if jack[1].isdigit() and len(jack[1])==11:
    print(jack[3])
    print(jack[4])
else:
    print("Identity is not valid!")
print("Identity no must be 11-digit")

10000
1956
Identity no must be 11-digit

In [9]:
number = 100
if number < 0:
    print(f"{number} is negative.")
elif number == 0:   
    print(f"{number} is zero.")
elif 0 < number < 50:   
    print(f"{number} is between 1 and 50")
else:
    print(f"{number} is larger 50")

100 is larger 50

In [19]:
sequence = [10, 20, 30, None, 50, None, 60, 70]

In [20]:
len(sequence)

8

In [25]:
my_counter = 0

In [35]:
my_counter = 0
for seq in sequence:
    if seq is None:
        continue
    else:    
        my_counter += 1    
print(my_counter)

6

In [30]:
my_counter = 0
for seq in sequence:
    if seq is not None:
        my_counter += 1    
print(my_counter)

6

In [31]:
names = ["jack", "kate", None, "james", "hugo", None, "ben", "kim", "sun"]

In [36]:
found = False
for name in names:
    if name is None:
        continue
    if name == "donald":
        found = True
        break;      
if found:
    print("I have found him/her.")
else: 
    print("I have not found him/her.")

I have not found him/her.

In [37]:
x = 100
if x == 0:
    # TODO: implement what to do when x is zero!
    pass
else: 
    print(f"{x} is not zero.")

100 is not zero.

In [41]:
stocks = [
          ('orcl', 100. , 500, True), 
          ('btc', 19000, 2, False), 
          ('gogle', 123., 2000, True), 
          ('ibm', 78, 2500, True),
          ('eth', 1, 10000, False),
          ('msft', 98., 3000, True)
         ]

In [53]:
asset = { "stock": 0, "crypto": 0} #dictionary
for symbol, price, quantity, is_stock in stocks:
    asset_type = "stock" if is_stock else "crypto" # ternary expression    
    asset[asset_type] = asset[asset_type] + price * quantity
for asset_type, sum in asset.items():
    print(f"{asset_type} -> {sum}")

stock -> 785000.0
crypto -> 48000

In [51]:
employees = [
    ("jack shephard", "Sales", 100000, 1978,True),
    ("kate austen", "IT", 200000, 1985,False),
    ("ben linus", "Finance", 150000, 1967,True),
    ("james sawyer", "HR", 70000, 1979,True),
    ("kim kwon", "Sales", 120000, 1986,True),
    ("sun kwon", "IT", 170000, 1984,False),
    ("hugo reyes", "IT", 120000, 1992,True)
]

In [52]:
total_salaries = {}
for fullname, dept, sal, byear, fulltime in employees:
    if dept not in total_salaries:
        total_salaries[dept] = {"fulltime": 0, "parttime": 0}
    job_type = "fulltime" if fulltime else "parttime"
    total_salaries[dept][job_type] += sal
for dept, salaries in total_salaries.items():
    for job_type, salary in salaries.items():
        print(f"{dept}\t({job_type}): {salary}")
    print("")

Sales	(fulltime): 220000
Sales	(parttime): 0

IT	(fulltime): 120000
IT	(parttime): 370000

Finance	(fulltime): 150000
Finance	(parttime): 0

HR	(fulltime): 70000
HR	(parttime): 0