### DCL-160: Python Programming

Module 02

December 08, 2020

Binnur Kurt <binnur.kurt@gmail.com>

In [1]:
names = ("jack","kate","ben","sun","jin","james") # tuple -> immutable

In [2]:
names[0]

'jack'

In [3]:
names[3]

'sun'

In [4]:
names[3] = "sunny"

TypeError: 'tuple' object does not support item assignment

In [5]:
print(names)

('jack', 'kate', 'ben', 'sun', 'jin', 'james')

In [7]:
type(names)

tuple

In [8]:
len(names)

6

In [9]:
type(names[0])

str

In [10]:
len(names)

6

In [11]:
len(names[0])

4

In [12]:
x= 3.1415
str(x)

'3.1415'

In [13]:
str(names)

"('jack', 'kate', 'ben', 'sun', 'jin', 'james')"

In [14]:
sales = ("jack", "james")
it = ("jin", "ben", "hugo")
hr = ("sun")
finance = ("kate", "ben")

In [15]:
employees = (sales, it, hr, finance)

In [16]:
employees

(('jack', 'james'), ('jin', 'ben', 'hugo'), 'sun', ('kate', 'ben'))

In [17]:
len(employees)

4

In [18]:
employees[0]

('jack', 'james')

In [19]:
len(employees[0])

2

In [20]:
numbers = (4,8,15,16,23,42)

In [21]:
numbers[0]

4

In [22]:
numbers[len(numbers)-1]

42

In [24]:
numbers[-2]

23

In [26]:
numbers[-6]

4

In [27]:
numbers[0]

4

In [28]:
numbers[-7]

IndexError: tuple index out of range

In [29]:
numbers[6]

IndexError: tuple index out of range

In [30]:
numbers = [4,8,15,16,23,42] # list

In [31]:
numbers[0]

4

In [32]:
numbers[-1]

42

In [33]:
numbers[0] = numbers[0] + 10

In [34]:
len(numbers)

6

In [35]:
numbers.append(108)

In [36]:
len(numbers)

7

In [37]:
numbers

[14, 8, 15, 16, 23, 42, 108]

In [39]:
names = ["jack", "james", "jin"]

In [40]:
len(names)

3

In [41]:
names[0]

'jack'

In [42]:
names[0] = "ben"

In [43]:
names

['ben', 'james', 'jin']

In [44]:
names.append("kim")

In [45]:
names

['ben', 'james', 'jin', 'kim']

In [46]:
employees = [('jack','bauer', 10000),('kate','austen',20000)]

In [48]:
salary = employees[1][2]

In [49]:
employees[1] = ('kate','austen', salary * 1.10 )

In [50]:
employees

[('jack', 'bauer', 10000), ('kate', 'austen', 22000.0)]

In [51]:
employees.append(("ben","linus",50000))

In [52]:
employees

[('jack', 'bauer', 10000),
 ('kate', 'austen', 22000.0),
 ('ben', 'linus', 50000)]

In [53]:
employees = [['jack','bauer', 10000],['kate','austen',20000]]

In [54]:
employees = [[('jack','bauer'), 10000],[('kate','austen'),20000]]

In [55]:
employees[0]

[('jack', 'bauer'), 10000]

In [56]:
employees[-1]

[('kate', 'austen'), 20000]

In [59]:
employees.extend([[('jin','kwon'), 20000],[('sun','kwon'),40000]])

In [60]:
employees

[[('jack', 'bauer'), 10000],
 [('kate', 'austen'), 20000],
 [('jin', 'kwon'), 20000],
 [('sun', 'kwon'), 40000],
 [[('jin', 'kwon'), 20000], [('sun', 'kwon'), 40000]]]

In [62]:
jack = ("jack", "bauer", 1956, 25000, True)

In [63]:
first_name = jack[0]
last_name = jack[1]
birth_year = jack[2]
salary = jack[3]
fulltime = jack[-1]

In [64]:
first_name, last_name, birth_year, salary , fulltime = jack

In [65]:
first_name

'jack'

In [66]:
fulltime

True

In [67]:
x = 3
y = 5

In [68]:
y , x = (x, y)

In [69]:
y

3

In [70]:
x

5

In [71]:
meyveler = ["elma", "armut", "kavun", "karpuz", "muz"]

In [73]:
meyveler[-6]

IndexError: list index out of range

In [75]:
list(enumerate(meyveler))

[(0, 'elma'), (1, 'armut'), (2, 'kavun'), (3, 'karpuz'), (4, 'muz')]

In [76]:
tuple(enumerate(meyveler))

((0, 'elma'), (1, 'armut'), (2, 'kavun'), (3, 'karpuz'), (4, 'muz'))

In [78]:
for t in enumerate(meyveler):
    index = t[0]
    meyve = t[1]
    print(f"{index} -> {meyve}")

0 -> elma
1 -> armut
2 -> kavun
3 -> karpuz
4 -> muz

In [79]:
for t in enumerate(meyveler):
    print(f"{t[0]} -> {t[1]}")

0 -> elma
1 -> armut
2 -> kavun
3 -> karpuz
4 -> muz

In [80]:
for index, meyve in enumerate(meyveler):
    print(f"{index} -> {meyve}")

0 -> elma
1 -> armut
2 -> kavun
3 -> karpuz
4 -> muz

In [81]:
for index, meyve in enumerate(meyveler):
    print("%d -> %s" % (index,meyve) )

0 -> elma
1 -> armut
2 -> kavun
3 -> karpuz
4 -> muz

In [82]:
meyveler[0:3]

['elma', 'armut', 'kavun']

In [83]:
meyveler[:2]

['elma', 'armut']

In [84]:
meyveler[3:]

['karpuz', 'muz']

In [85]:
meyveler[:]

['elma', 'armut', 'kavun', 'karpuz', 'muz']

In [87]:
numbers = [0,1,2,3,4,5,6,7,8,9,10]

In [88]:
numbers[4:8]

[4, 5, 6, 7]

In [89]:
numbers[:8]

[0, 1, 2, 3, 4, 5, 6, 7]

In [91]:
numbers[4::2]

[4, 6, 8, 10]

In [101]:
numbers[::-5]

[10, 5, 0]

In [97]:
numbers[0:10:-1]

[]

In [96]:
numbers[10:0:-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [104]:
numbers[7:3:-1]

[7, 6, 5, 4]

In [106]:
numbers[7:3:1]

[]

In [107]:
numbers[3:7] = [6,5,4,3]

In [108]:
numbers

[0, 1, 2, 6, 5, 4, 3, 7, 8, 9, 10]

In [109]:
numbers[3:7] = []

In [110]:
numbers

[0, 1, 2, 7, 8, 9, 10]

In [111]:
numbers[:] = []

In [113]:
numbers

[]

In [114]:
numbers = list(range(20))

In [115]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [116]:
numbers.pop(5)

5

In [117]:
numbers

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [119]:
numbers.pop(-1)

18

In [120]:
numbers.pop(100)

IndexError: pop index out of range

In [130]:
names = ["jack", "kate" ,"james", "jin","hugo", "james"]

In [124]:
names.remove("james")

In [125]:
names

['jack', 'kate', 'jin', 'hugo']

In [127]:
names.remove("james")

ValueError: list.remove(x): x not in list

In [128]:
names.clear()

In [129]:
names

[]

In [135]:
names = ["jack", "kate" ,"james", "jin","hugo", "sun"]

In [136]:
del names[-1]

In [137]:
names

['jack', 'kate', 'james', 'jin', 'hugo']

In [138]:
del names[-1]

In [140]:
names

['jack', 'kate', 'james', 'jin']

In [142]:
del names[:2]

In [143]:
names

['james', 'jin']

In [144]:
del names[:]

In [145]:
names

[]

In [146]:
# how to modify/remove list: clear(), pop(index), remove(element), del

In [147]:
names = ["jack", "kate" ,"james", "jin","hugo", "sun"]

In [148]:
names.sort()

In [149]:
names

['hugo', 'jack', 'james', 'jin', 'kate', 'sun']

In [150]:
names.sort(reverse=True)

In [151]:
names

['sun', 'kate', 'jin', 'james', 'jack', 'hugo']

In [155]:
numbers = [42,8,15,16,23,4]

In [156]:
numbers.sort()

In [157]:
numbers

[4, 8, 15, 16, 23, 42]

In [158]:
numbers.sort(reverse=True)

In [159]:
numbers

[42, 23, 16, 15, 8, 4]

In [160]:
numbers_asc = sorted(numbers)

In [161]:
numbers_asc

[4, 8, 15, 16, 23, 42]

In [162]:
numbers

[42, 23, 16, 15, 8, 4]

In [166]:
names = ["jack", "kate" ,"james", "Jin","Hugo", "Sun"]

In [167]:
names

['jack', 'kate', 'james', 'Jin', 'Hugo', 'Sun']

In [168]:
sorted(names)

['Hugo', 'Jin', 'Sun', 'jack', 'james', 'kate']

In [169]:
sorted(names, key= str.lower)

['Hugo', 'jack', 'james', 'Jin', 'kate', 'Sun']

In [2]:
stocks = [('msft', 100., 500), ('ibm', 90.0, 1000), ('gogle', 220., 10)]

In [171]:
sorted(stocks)

[('gogle', 220.0), ('ibm', 90.0), ('msft', 100.0)]

In [172]:
def get_price(stock):
    return stock[1]

In [173]:
sorted(stocks, key= get_price, reverse=True)

[('gogle', 220.0), ('msft', 100.0), ('ibm', 90.0)]

In [3]:
def get_volume(stock):
    symbol, price, quantity = stock
    return price*quantity

In [177]:
sorted(stocks, key= get_volume, reverse=True)

[('ibm', 90.0, 1000), ('msft', 100.0, 500), ('gogle', 220.0, 10)]

In [178]:
sorted(stocks, key= lambda stock: stock[1]*stock[2], reverse=True)

[('ibm', 90.0, 1000), ('msft', 100.0, 500), ('gogle', 220.0, 10)]

In [179]:
get_volume2 = lambda stock: stock[1]*stock[2]

In [180]:
sorted(stocks, key= get_volume2, reverse=True)

[('ibm', 90.0, 1000), ('msft', 100.0, 500), ('gogle', 220.0, 10)]

Module 02

December 09, 2020

In [5]:
sorted(stocks,key=get_volume, reverse=True)

[('ibm', 90.0, 1000), ('msft', 100.0, 500), ('gogle', 220.0, 10)]

In [6]:
sorted(stocks,key=lambda stock: stock[1]*stock[2], reverse=True)

[('ibm', 90.0, 1000), ('msft', 100.0, 500), ('gogle', 220.0, 10)]

In [7]:
stocks[0]

('msft', 100.0, 500)

In [8]:
stocks

[('msft', 100.0, 500), ('ibm', 90.0, 1000), ('gogle', 220.0, 10)]

In [9]:
stocks = [('msft', 100., 500), ('ibm', 90.0, 1000), ('gogle', 220., 10)]

In [10]:
stocks[0]

('msft', 100.0, 500)

In [11]:
stocks[1]

('ibm', 90.0, 1000)

In [12]:
stocks[2]

('gogle', 220.0, 10)

In [13]:
len(stocks)

3

In [14]:
sorted_stocks = sorted(stocks,key=lambda stock: stock[1]*stock[2], reverse=True)

In [15]:
stocks

[('msft', 100.0, 500), ('ibm', 90.0, 1000), ('gogle', 220.0, 10)]

In [16]:
sorted_stocks

[('ibm', 90.0, 1000), ('msft', 100.0, 500), ('gogle', 220.0, 10)]

In [17]:
stocks.sort(key=lambda stock: stock[1]*stock[2], reverse=True)

In [18]:
stocks

[('ibm', 90.0, 1000), ('msft', 100.0, 500), ('gogle', 220.0, 10)]

In [19]:
numbers = [4,8,15,16,23,42]

In [20]:
numbers.index(23)

4

In [21]:
numbers.index(49)

ValueError: 49 is not in list

In [22]:
23 in numbers

True

In [23]:
49 in numbers

False

In [24]:
numbers *= 2

In [25]:
numbers

[4, 8, 15, 16, 23, 42, 4, 8, 15, 16, 23, 42]

In [26]:
numbers.index(23)

4

In [27]:
numbers.index(23, 6)

10

In [30]:
val = 49
if val in numbers: 
    print(f"found {val} at index {numbers.index(val)}")
else:
    print(f"{val} is not found")

49 is not found

In [ ]:
# tuple -> (), list -> [], set -> {} -> unordered, unique -> does not allow duplicates, mutable

In [31]:
colors = { "blue", "red", "orange", "yellow", "green", "orange", "yellow"}

In [32]:
len(colors)

5

In [33]:
colors

{'blue', 'green', 'orange', 'red', 'yellow'}

In [34]:
"orange" in colors

True

In [35]:
"pink" in colors

False

In [36]:
for color in colors:
    print(color)

green
yellow
red
orange
blue

In [37]:
{4, 8, 15} == {15, 4, 8}

True

In [38]:
{4, 8, 15} != {15, 4, 8}

False

In [39]:
{4, 8, 15} < {15, 4, 8}

False

In [40]:
{4, 8, 15} < {15, 4, 8, 42}

True

In [41]:
{4, 8, 15}.issubset({15, 4, 8, 42})

True

In [42]:
{3, 16}.issubset({3,4,28})

False

In [43]:
{4 , 8, 42} | {8 , 15, 42}

{4, 8, 15, 42}

In [44]:
{4 , 8, 42}.union({8 , 15, 42})

{4, 8, 15, 42}

In [45]:
{1,3,5} & {2,5}

{5}

In [46]:
{1,3,5}.intersection({2,5})

{5}

In [47]:
{1,3,5} - {2,3,4}

{1, 5}

In [48]:
{1,3,5}.difference({2,3,4})

{1, 5}

In [49]:
type(colors)

set

In [50]:
colors

{'blue', 'green', 'orange', 'red', 'yellow'}

In [51]:
colors.add("pink")

In [52]:
colors

{'blue', 'green', 'orange', 'pink', 'red', 'yellow'}

In [53]:
colors.remove("orange")

In [54]:
colors

{'blue', 'green', 'pink', 'red', 'yellow'}

In [55]:
colors.remove("orange")

KeyError: 'orange'

In [57]:
colors.discard("orange")

In [58]:
"green" in colors

True

In [59]:
mycolors = list(colors)

In [60]:
type(mycolors)

list

In [62]:
type(colors)

set

In [63]:
"green" in mycolors

True

In [64]:
# tuple -> (), list -> [], set -> {} -> unordered, unique -> does not allow duplicates, mutable

In [65]:
# Dictionary: {}, item(key -> value), key: set, value

In [66]:
area_codes = {}
area_codes["ankara"] = 312
area_codes["bursa"] = 224
area_codes["antalya"] = 242

In [67]:
type(area_codes)

dict

In [68]:
area_codes

{'ankara': 312, 'bursa': 224, 'antalya': 242}

In [69]:
print(area_codes)

{'ankara': 312, 'bursa': 224, 'antalya': 242}

In [70]:
area_codes["istanbul"] = {"anadolu": 216, "avrupa": 212}

In [71]:
area_codes

{'ankara': 312,
 'bursa': 224,
 'antalya': 242,
 'istanbul': {'anadolu': 216, 'avrupa': 212}}

In [72]:
area_codes["istanbul-anadolu"]=216
area_codes["istanbul-avrupa"]=212

In [73]:
area_codes

{'ankara': 312,
 'bursa': 224,
 'antalya': 242,
 'istanbul': {'anadolu': 216, 'avrupa': 212},
 'istanbul-anadolu': 216,
 'istanbul-avrupa': 212}

In [74]:
area_codes["istanbul"]["anadolu"]

216

In [75]:
area_codes["istanbul-anadolu"] # O(1)

216

In [77]:
area_codes["anadolu"]

KeyError: 'anadolu'

In [79]:
list(area_codes.keys())

['ankara',
 'bursa',
 'antalya',
 'istanbul',
 'istanbul-anadolu',
 'istanbul-avrupa']

In [80]:
list(area_codes.values())

[312, 224, 242, {'anadolu': 216, 'avrupa': 212}, 216, 212]

In [81]:
list(area_codes.items())

[('ankara', 312),
 ('bursa', 224),
 ('antalya', 242),
 ('istanbul', {'anadolu': 216, 'avrupa': 212}),
 ('istanbul-anadolu', 216),
 ('istanbul-avrupa', 212)]

In [ ]:
# Dictionary: mapping(k -> v) -> keys(), values(), items((key,value))

In [82]:
for city in area_codes.keys():
    print(f"{city} -> {area_codes[city]}")

ankara -> 312
bursa -> 224
antalya -> 242
istanbul -> {'anadolu': 216, 'avrupa': 212}
istanbul-anadolu -> 216
istanbul-avrupa -> 212

In [84]:
for city in sorted(area_codes.keys(),reverse=True):
    print(f"{city} -> {area_codes[city]}")

istanbul-avrupa -> 212
istanbul-anadolu -> 216
istanbul -> {'anadolu': 216, 'avrupa': 212}
bursa -> 224
antalya -> 242
ankara -> 312

In [85]:
for city,code in area_codes.items():
     print(f"{city} -> {code}")

ankara -> 312
bursa -> 224
antalya -> 242
istanbul -> {'anadolu': 216, 'avrupa': 212}
istanbul-anadolu -> 216
istanbul-avrupa -> 212

In [86]:
area_codes.items()

dict_items([('ankara', 312), ('bursa', 224), ('antalya', 242), ('istanbul', {'anadolu': 216, 'avrupa': 212}), ('istanbul-anadolu', 216), ('istanbul-avrupa', 212)])

In [88]:
for city,code in area_codes.items():
    print(f"{city} --> {code}")

ankara --> 312
bursa --> 224
antalya --> 242
istanbul --> {'anadolu': 216, 'avrupa': 212}
istanbul-anadolu --> 216
istanbul-avrupa --> 212

In [ ]:
area_codes["ordu"] = 52

In [91]:
area_codes.update({"newyork" : 1111}) # dictionary -> {key: value}

In [92]:
area_codes["newyork"]

1111

In [93]:
area_codes.update({"key1": 100, "key2": 200, "key3": 300})

In [94]:
area_codes

{'ankara': 312,
 'bursa': 224,
 'antalya': 242,
 'istanbul': {'anadolu': 216, 'avrupa': 212},
 'istanbul-anadolu': 216,
 'istanbul-avrupa': 212,
 'newyork': 1111,
 'key1': 100,
 'key2': 200,
 'key3': 300}

In [95]:
area_codes |= {"key4": 400, "key5": 500}

In [96]:
area_codes

{'ankara': 312,
 'bursa': 224,
 'antalya': 242,
 'istanbul': {'anadolu': 216, 'avrupa': 212},
 'istanbul-anadolu': 216,
 'istanbul-avrupa': 212,
 'newyork': 1111,
 'key1': 100,
 'key2': 200,
 'key3': 300,
 'key4': 400,
 'key5': 500}

In [97]:
"ankara" in area_codes

True

In [98]:
"edirne" in area_codes

False

In [99]:
del area_codes["key3"]

In [100]:
area_codes

{'ankara': 312,
 'bursa': 224,
 'antalya': 242,
 'istanbul': {'anadolu': 216, 'avrupa': 212},
 'istanbul-anadolu': 216,
 'istanbul-avrupa': 212,
 'newyork': 1111,
 'key1': 100,
 'key2': 200,
 'key4': 400,
 'key5': 500}

In [101]:
area_codes.clear()

In [102]:
area_codes

{}

In [103]:
area_codes |= {"key4": 400, "key5": 500}

In [104]:
area_codes

{'key4': 400, 'key5': 500}

In [105]:
area_codes.pop("key5")

500

In [106]:
area_codes

{'key4': 400}

In [107]:
area_codes.pop("key1")

KeyError: 'key1'

In [108]:
del area_codes["key1"]

KeyError: 'key1'

In [109]:
del area_codes["key4"]